<div class="border cat-container">
  <!-- Title -->
  <div class="cat-title d-flex">
    <p class="text-p">Categories</p>
    <div class="ms-auto">
      <i
        [ngClass]="isExpanded ? 'fa-minus' : 'fa-plus'"
        class="fa-solid text-p"
        (click)="expendedOnClick()"
      ></i>
    </div>
  </div>

  <!-- items -->
  <div [ngClass]="{ hidden: !isExpanded }" class="cat-items">
    <!-- Equipment -->
    <div class="cat-item d-flex">
      <input
        class="form-check-input"
        type="checkbox"
        name="Equipment"
        (change)="categoryOnChange($event)"
        checked
      />
      <p>Equipment</p>
    </div>
    <!-- Gear -->
    <div class="cat-item d-flex">
      <input
        class="form-check-input"
        type="checkbox"
        name="Gear"
        (change)="categoryOnChange($event)"
        checked
      />
      <p>Gear</p>
    </div>
    <!-- Cleaning -->
    <div class="cat-item d-flex">
      <input
        class="form-check-input"
        type="checkbox"
        name="Cleaning"
        (change)="categoryOnChange($event)"
        checked
      />
      <p>Cleaning</p>
    </div>
  </div>
</div>
