.cat-container {
  background-color: #fdfdfd;
  border-color: #ededed !important;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

/* cat title */
.cat-title p {
  margin-bottom: 0;
}

.cat-title i {
  cursor: pointer;
}

/* cat items */
.cat-items {
  margin-top: 1rem;
}

/* cat item */
.cat-item p {
  margin: 0;
  padding: 1rem 0 0 0.5rem;
}

.cat-item input {
  margin-top: 0.6rem;
  padding: 14px;
  border-radius: 0;
}

.cat-item p {
  color: #595959;
  font-size: 0.9rem;
}
