/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

/* ---------------------------- */

/* text */

.text-p {
  color: #00001a !important;
}

/* bg colors */
.bg-light {
  background-color: #fdfdfd !important;
}

/* border */
.border-color-p {
  border-color: #ededed !important;
}

.hidden {
  display: none;
}
